


 body {
    background: $background-color;
    min-height: 100vh;
  }
   
  .container-status {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    max-width: 1200px;
  }
    
.card {
      max-width: 300px;
      height: 140px;
      margin: 30px 10px;
      padding: 20px 20px;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 5px 200px rgba(0,0,0,0.5);
      
} 

.submit-area {
    justify-content: center;
    padding: 35px;
   
}  

.container-submit {
    display: flex;
    justify-content: center;
    max-width: 1700px;
    align-items: center;
    flex-wrap:10px;
    margin: 0;
}
  
#account-area {
	margin-top: 5%;

}



.status {
    margin: 0 20px;
	padding: 20px;
	border-radius: 10px;
}


button {
    color: white;
    background: #af8c93;
    border: solid 1px;
    border-radius: 50px;
    border-color: rgba(0, 0, 0, .1);
    cursor: pointer;
    width: 90px;
    padding: 7px 14px;
    
}

input {
    
    border: 2px solid #dcdcdc;
    margin: 1em 0;
    padding: 7px;
    
  }

  


  form{
    width: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    
  }